
 *{
   font-family: 'Cagliostro', sans-serif;
  }

  .container-fluid {
    padding: 0px 20px;
  }

  .row {
    margin: 30px auto;
  }

  .btn-danger {
    background-color: #fe4a49;
    margin: 0 3px;
  }

  .btn-primary {
    background-color: #4793d7;
  }

  .form-control {
    border: 0px;
    border-bottom: 1px solid #495057;
    box-shadow: none;
  }

  p {
    text-align: justify;
  }


/***----Page Header---***/
/*Styles for page-header containing logo & main buttons*/
#page-header{
  #logo-wrapper{
    #logo-pic{
     #logo{
       margin-bottom: 20px;
       margin-right: 5px;
     }
   }
   #logo-text{
     text-decoration: none;
     font-size: 40px;
     color: #151f28;
     margin-top: 50px;
   }
  }
}

/**Media query for page-header***/
@media only screen and (max-width: 450px){
  #page-header{
   #logo-wrapper{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: auto;
     #logo-text{
      margin-top: -25px;
    }
   }
   #main-buttons{
     margin: auto;
     margin-top: 20px;
   }
  }
}




/***Donate Form***/
/*CSS to make donation form scrollable*/
/*CSS to increase height of item-description's text area in form*/
#donate-form{
    #modal-body-form{
      max-height: calc(100vh - 200px);
      overflow-y: auto;
    }
    #donation-information{
        textarea {
          min-height: 115px;
        }
    }
}



/***Contact Form***/
#contact-form {
    div * {
    border-bottom: 2px solid #adadad;
    margin: 35px auto;
    padding: 0px;
    }

    textarea {
    min-height: 115px;
    }

    #contact-button {
    border: none;
    border-radius: 5px;
    height: 50px;
    min-width: 244px;
    }
}

.modal-dialog {
  max-width: 90%;
}

/******************* Styles for Find form **************************/
#findModal {
  .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
}

.donated-item-tag {
  li {
    background-color: #fe4a49;
    border-color: #fe4a49;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: .25rem 1rem;
  }

  .active {
    background-color: #dc3545;
    border-color: #fe4a49;
  }
}

  .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;

    .my-auto {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

.donated-item:hover .mask {
  height: 100%;
}

/********** Media queries ****************/
@media only screen and (min-width: 450px) {
  h2 {
    font-size: 2.5rem;
  }
}


/****CSS for Scroll To Top button****/
#btn-scrollToTop{
  position: fixed; 
  right: 10px; 
  bottom: 10px; 
  width: 50px;
  height: 50px; 
  border-radius: 50%; 
  background-color: #fe4a49;
}
