.container-fluid {
  padding: 0px 20px;
}

.row {
  margin: 30px auto;
}

.btn-danger {
  margin: 0 3px;
}

#hero-image {
  height: 300px;
}

.form-control {
  border: 0px;
  border-bottom: 1px solid #495057;
  box-shadow: none;
}
