
/* *-- used to design the about me section area --*/
.about-background{
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
}


/* *-- used to design the how it works section */
.works-background{
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
}

.container-fluid {
  padding: 0px 20px;
}

.row {
  margin: 30px auto;
}

.btn-danger {
  margin: 0 3px;
}

#hero-image {
  height: 300px;
}

.form-control {
  border: 0px;
  border-bottom: 1px solid #495057;
  box-shadow: none;
}
